examples/workflows/calls-connect-link-bulk-generator.json
{
  "name": "Calls Connect Link Bulk Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "document",
        "operation": "get",
        "documentURL": "YOUR_GOOGLE_DOC_ID",
        "simple": false
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Get Doc Content",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Extract plain text from Google Docs API response.\n// When simple=false the body content lives under body.content as\n// an array of structural elements each containing a paragraph.\nconst doc = $input.first().json;\n\nconst extractText = (content) => {\n  if (!Array.isArray(content)) return '';\n  return content\n    .flatMap((el) => (el.paragraph?.elements ?? []))\n    .map((el) => el.textRun?.content ?? '')\n    .join('');\n};\n\nconst rawText = extractText(doc.body?.content ?? []);\n\nconst appointmentIds = rawText\n  .split('\\n')\n  .map((line) => line.trim())\n  .filter((line) => line.length > 0);\n\nreturn appointmentIds.map((appointmentId) => ({ json: { appointmentId } }));"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Parse Appointment IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "connectLink",
        "operation": "create",
        "connectLinkBody": "={\"externalId\": \"{{ $json.appointmentId }}\", \"label\": \"Appointment {{ $json.appointmentId }}\"}"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Create Connect Link",
      "type": "CUSTOM.bambuser",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Accumulate all results from the loop into a formatted table string.\nconst items = $input.all();\nconst header = 'Appointment ID | Connect Link URL';\nconst separator = '-'.repeat(header.length);\n\nconst rowParts = items.reduce((acc, item) => {\n  const appointmentId = item.json.appointmentId ?? item.json.externalId ?? 'unknown';\n  const url = item.json.url ?? item.json.connectLinkUrl ?? item.json.link ?? '';\n  acc.push(appointmentId + ' | ' + url);\n  return acc;\n}, []);\n\nconst lines = ['\\n\\n== Generated Links ==\\n', header, separator].concat(rowParts);\nconst formattedTable = lines.join('\\n');\n\nreturn [{ json: { formattedTable } }];"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "document",
        "operation": "update",
        "documentURL": "YOUR_GOOGLE_DOC_ID",
        "simple": true,
        "actionsUi": {
          "actionFields": [
            {
              "object": "text",
              "action": "insert",
              "locationChoice": "endOfSegmentLocation",
              "insertSegment": "body",
              "text": "={{ $json.formattedTable }}"
            }
          ]
        }
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Append Links to Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Doc Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Doc Content": {
      "main": [
        [
          {
            "node": "Parse Appointment IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Appointment IDs": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Connect Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Connect Link": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Append Links to Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "demo"
  }
}
