examples/workflows/calls-analytics-report.json
{
  "name": "Weekly Calls Analytics Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "stats",
        "operation": "getAccepted",
        "from": "={{ DateTime.now().startOf('week').minus({ weeks: 1 }).toISO() }}",
        "excludeShortCalls": true,
        "excludeTestCalls": false
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Get Accepted Stats",
      "type": "CUSTOM.bambuserCalls",
      "typeVersion": 1,
      "position": [
        500,
        150
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    },
    {
      "parameters": {
        "resource": "stats",
        "operation": "getMissed",
        "from": "={{ DateTime.now().startOf('week').minus({ weeks: 1 }).toISO() }}",
        "excludeShortQueueTime": true
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Get Missed Stats",
      "type": "CUSTOM.bambuserCalls",
      "typeVersion": 1,
      "position": [
        500,
        450
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "outputDataFrom": "both"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Merge Stats",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        750,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse these video call stats for the past week. Accepted: {{ JSON.stringify($json['Get Accepted Stats']) }}. Missed: {{ JSON.stringify($json['Get Missed Stats']) }}. Calculate acceptance rate, identify any anomalies, and write a 3-paragraph executive summary with action items."
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Analyse with Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1000,
        500
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "zWjTkBrecPDssM2x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "update",
        "documentURL": "YOUR_GOOGLE_DOC_ID",
        "actionsUi": {
          "actionFields": [
            {
              "object": "text",
              "action": "insert",
              "locationChoice": "endOfSegmentLocation",
              "insertSegment": "body",
              "text": "={{ '\\n\\n## Weekly Report \u2014 ' + DateTime.now().toFormat('yyyy-MM-dd') + '\\n\\n' + $json.text }}"
            }
          ]
        }
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Append to Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "awV7X3KCEUsQRvJs",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Accepted Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Missed Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Accepted Stats": {
      "main": [
        [
          {
            "node": "Merge Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Missed Stats": {
      "main": [
        [
          {
            "node": "Merge Stats",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Stats": {
      "main": [
        [
          {
            "node": "Analyse with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse with Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyse with Gemini": {
      "main": [
        [
          {
            "node": "Append to Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "demo"
  }
}