examples/workflows/live-chat-qa-auto-pinner.json
{
  "updatedAt": "2026-05-21T13:24:10.259Z",
  "createdAt": "2026-05-21T12:30:09.537Z",
  "id": "uoCVtOaYFoK3960h",
  "name": "Live Chat Q&A Auto-Pinner",
  "description": "",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "3b3cc505-0b67-434f-9947-967a82fb385e",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "limit": 5
      },
      "id": "17f2e715-1550-4d87-824f-2214bc1dae13",
      "name": "Get Active Shows",
      "type": "CUSTOM.bambuserShows",
      "typeVersion": 1,
      "position": [
        336,
        304
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst shows = response.results || [];\nconst liveShows = shows.filter(s =>\n  ['playing', 'live', 'started'].includes((s.state || '').toLowerCase())\n);\nif (!liveShows.length) return [];\nreturn liveShows.map(s => ({ json: { showId: s.id, showTitle: s.title } }));\n"
      },
      "id": "d26d52bb-f14a-44cf-95c3-57e7edacd4ba",
      "name": "Find Live Show",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getChatMessages",
        "showId": "={{ $json.showId }}",
        "limit": 30
      },
      "id": "465688b9-b6ce-47b2-a330-04c318e06aea",
      "name": "Get Chat Messages",
      "type": "CUSTOM.bambuserShows",
      "typeVersion": 1,
      "position": [
        784,
        304
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatItems = $input.all();\nconst showItems = $('Find Live Show').all();\nconst results = chatItems.flatMap(function(chatItem, idx) {\n  const showData = (showItems[idx] || {}).json || {};\n  const messages = chatItem.json.results || chatItem.json.data || [];\n  if (!messages.length) return [];\n  const chatLines = messages\n    .map(function(m) {\n      const author = m.authorName || (m.author && m.author.displayName) || 'viewer';\n      const body = m.message || m.body || '';\n      return '[id:' + m.id + '] ' + author + ': ' + body;\n    })\n    .join('\\n');\n  return [{ json: {\n    showId: showData.showId,\n    prompt: 'Analyse these live shopping chat messages and identify the single most interesting\\nviewer question worth pinning for the host to answer.\\n\\nShow: \"' + showData.showTitle + '\"\\nMessages:\\n' + chatLines.slice(0, 2000) + '\\n\\nRespond with JSON only (no markdown):\\n{\"chatMessageId\": \"<the id value from [id:...] of the best question, or null>\", \"reason\": \"<one sentence why>\"}\\n'\n  } }];\n});\nreturn results;",
        "mode": "runOnceForAllItems"
      },
      "id": "6892933c-4ac2-4825-9c46-1b97cb92f4e9",
      "name": "Build Moderation Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "id": "56adc7cc-c414-4c18-8351-51d4703bcb7f",
      "name": "Classify Chat Messages",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1232,
        304
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "3d46fae5-601f-4679-a341-a309848f66e2",
      "name": "Gemini — Classify Chat Messages",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1304,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "zWjTkBrecPDssM2x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const geminiItems = $input.all();\nconst promptItems = $('Build Moderation Prompt').all();\nreturn geminiItems.flatMap(function(item, idx) {\n  const text = item.json.text || item.json.output || '';\n  const showId = (promptItems[idx] || {}).json ? promptItems[idx].json.showId : null;\n  let parsed = {};\n  try { const m = text.match(/\\{[\\s\\S]*\\}/); if (m) parsed = JSON.parse(m[0]); } catch(e) {}\n  if (!parsed.chatMessageId) return [];\n  return [{ json: { showId: showId, chatMessageId: String(parsed.chatMessageId), reason: parsed.reason } }];\n});",
        "mode": "runOnceForAllItems"
      },
      "id": "1ae78cb0-7342-465c-a648-0fc9c654831c",
      "name": "Extract Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        304
      ]
    },
    {
      "parameters": {
        "operation": "createPinnedComment",
        "showId": "={{ $json.showId }}",
        "chatMessageId": "={{ $json.chatMessageId }}"
      },
      "id": "9aa2d190-829c-41c5-8177-d8cff8cdea62",
      "name": "Pin Top Question",
      "type": "CUSTOM.bambuserShows",
      "typeVersion": 1,
      "position": [
        1808,
        304
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    }
  ],
  "connections": {
    "Gemini — Classify Chat Messages": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Chat Messages",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Get Active Shows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Shows": {
      "main": [
        [
          {
            "node": "Find Live Show",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Live Show": {
      "main": [
        [
          {
            "node": "Get Chat Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat Messages": {
      "main": [
        [
          {
            "node": "Build Moderation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Moderation Prompt": {
      "main": [
        [
          {
            "node": "Classify Chat Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Chat Messages": {
      "main": [
        [
          {
            "node": "Extract Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Question": {
      "main": [
        [
          {
            "node": "Pin Top Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Every 2 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "6b1304d0-4c8d-4887-85d9-9012a00ea4df",
  "activeVersionId": "6b1304d0-4c8d-4887-85d9-9012a00ea4df",
  "versionCounter": 16,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-21T12:30:09.537Z",
      "createdAt": "2026-05-21T12:30:09.537Z",
      "role": "workflow:owner",
      "workflowId": "uoCVtOaYFoK3960h",
      "projectId": "uUVVHahY9DnkUBGI",
      "project": {
        "updatedAt": "2026-05-20T07:48:48.695Z",
        "createdAt": "2026-05-20T07:45:46.154Z",
        "id": "uUVVHahY9DnkUBGI",
        "name": "Kristoffer Carlson <kristoffer.carlson@bambuser.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ed732eea-2a2b-4cf0-8959-12366b69e7f0"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}