examples/workflows/product-catalog-ai-description-enrichment.json
{
  "name": "AI Product Description Enrichment",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "catalogProduct",
        "operation": "product:search",
        "q": "",
        "limit": 50,
        "format": "raw",
        "locale": "en-US"
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Search Products",
      "type": "CUSTOM.bambuser",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return $input.all().filter(item => !item.json.description || item.json.description.trim() === '');"
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Filter Empty Descriptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Loop Over Products",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a compelling 2-3 sentence product description for: Title: {{ $json.title }}, URL: {{ $json.link }}. Return only the description text."
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Generate Description",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash"
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1250,
        520
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "zWjTkBrecPDssM2x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "catalogProduct",
        "operation": "product:update",
        "productId": "={{ $('Loop Over Products').item.json.id }}",
        "productBody": "={{ JSON.stringify({ description: $json.text }) }}"
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Update Product Description",
      "type": "CUSTOM.bambuser",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Products": {
      "main": [
        [
          {
            "node": "Filter Empty Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty Descriptions": {
      "main": [
        [
          {
            "node": "Loop Over Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Products": {
      "main": [
        [],
        [
          {
            "node": "Generate Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Description": {
      "main": [
        [
          {
            "node": "Update Product Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product Description": {
      "main": [
        [
          {
            "node": "Loop Over Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "demo"
  }
}
