examples/workflows/product-catalog-low-stock-alert.json
{
  "name": "Low-Stock Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "catalogProduct",
        "operation": "search",
        "q": "",
        "limit": 100,
        "format": "raw",
        "locale": "en-US"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Bambuser Product Catalog",
      "type": "CUSTOM.bambuser",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst lowStock = items.filter(item => {\n  const qty = item.json.quantity;\n  return qty !== undefined && qty !== null && qty < 10;\n});\n\nif (lowStock.length === 0) {\n  return [{ json: { lowStockItems: [], count: 0 } }];\n}\n\nreturn [{ json: { lowStockItems: lowStock.map(i => i.json), count: lowStock.length } }];"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Filter Low Stock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Has Low Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given these low-stock products: {{ JSON.stringify($json.lowStockItems) }}, write a concise restock recommendation report listing each product name, current quantity, and a suggested reorder action."
      },
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Gemini Restock Report",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash"
      },
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1250,
        520
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "zWjTkBrecPDssM2x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "update",
        "documentURL": "YOUR_GOOGLE_DOC_ID",
        "actionsUi": {
          "actionFields": [
            {
              "object": "text",
              "action": "insert",
              "locationChoice": "endOfSegmentLocation",
              "text": "={{ $json.text }}\n\n---\n"
            }
          ]
        }
      },
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "Write to Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "awV7X3KCEUsQRvJs",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Bambuser Product Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bambuser Product Catalog": {
      "main": [
        [
          {
            "node": "Filter Low Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Low Stock": {
      "main": [
        [
          {
            "node": "Has Low Stock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Low Stock?": {
      "main": [
        [
          {
            "node": "Gemini Restock Report",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Restock Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Restock Report": {
      "main": [
        [
          {
            "node": "Write to Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "demo"
  }
}
