examples/workflows/product-catalog-health-report.json
{
  "name": "Weekly Catalog Health Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567801",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "catalogProduct",
        "operation": "search",
        "q": "",
        "limit": 1000,
        "format": "raw"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567802",
      "name": "Get Products",
      "type": "CUSTOM.bambuser",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    },
    {
      "parameters": {
        "resource": "catalogProduct",
        "operation": "count",
        "q": "",
        "locale": "en"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567803",
      "name": "Get Product Count",
      "type": "CUSTOM.bambuser",
      "typeVersion": 1,
      "position": [
        500,
        400
      ],
      "credentials": {
        "bambuserApi": {
          "id": "v775jz3jBLJcNwlW",
          "name": "Bambuser account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "outputDataFrom": "both"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567804",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a product catalog health analyst.\n\nBelow is a JSON array of products and a total product count from a Bambuser product catalog.\n\nTotal product count: {{ $json.count ?? 'N/A' }}\n\nProducts (up to 1000):\n{{ JSON.stringify($json.products ?? $json, null, 2) }}\n\nAnalyse the product list and produce a structured health report. Count and report on:\n1. Products with a missing or empty `description` field\n2. Products with a missing or empty `image_link` field\n3. Products with a `quantity` that is null, zero, or undefined\n4. Overall catalog completeness percentage\n\nReturn the report in this exact format:\n---\nCATALOG HEALTH REPORT \u2014 {{ $now.format('YYYY-MM-DD') }}\n\nTotal products: <N>\nMissing description: <N> (<pct>%)\nMissing image_link: <N> (<pct>%)\nZero/null quantity: <N> (<pct>%)\nOverall completeness score: <pct>%\n\nRECOMMENDATIONS:\n- <bullet point recommendations based on findings>\n---"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567805",
      "name": "Analyze with Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567806",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1000,
        480
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "zWjTkBrecPDssM2x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "document",
        "operation": "update",
        "documentURL": "YOUR_GOOGLE_DOC_ID",
        "actionsUi": {
          "actionFields": [
            {
              "object": "text",
              "action": "insert",
              "locationChoice": "endOfSegmentLocation",
              "insertSegment": "body",
              "text": "={{ $json.text }}\n\n"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567807",
      "name": "Append to Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "awV7X3KCEUsQRvJs",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Product Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Products": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Count": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Analyze with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze with Gemini": {
      "main": [
        [
          {
            "node": "Append to Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze with Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "demo"
  }
}
