examples/workflows/shoppable-videos-description-autofill.json
{
  "name": "Shoppable Videos Description Auto-fill",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "getMany",
        "limit": 50
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "List Shoppable Videos",
      "type": "CUSTOM.bambuser",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const videos = $input.first().json.data || [];\nreturn videos\n  .filter(v => v.description === undefined || v.description === null || (typeof v.description === 'string' && v.description.trim() === ''))\n  .map(v => ({ json: v }));"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Filter Missing Descriptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "mode": "id",
          "value": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Write a concise 2-sentence description for a live shopping video. Title: {{ $json.title }}. Tags: {{ Array.isArray($json.tags) ? $json.tags.join(', ') : ($json.tags || '') }}. Return only the description."
            }
          ]
        },
        "simplify": true,
        "options": {
          "maxOutputTokens": 150,
          "temperature": 0.7
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Generate Description with Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "update",
        "videoId": "={{ $('Process One at a Time').item.json.id }}",
        "title": "={{ $(\"Process One at a Time\").item.json.title }}",
        "description": "={{ $json.text }}",
        "locale": ""
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Update Video Description",
      "type": "CUSTOM.bambuser",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Shoppable Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Shoppable Videos": {
      "main": [
        [
          {
            "node": "Filter Missing Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Missing Descriptions": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One at a Time": {
      "main": [
        [],
        [
          {
            "node": "Generate Description with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Description with Gemini": {
      "main": [
        [
          {
            "node": "Update Video Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Description": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "demo"
  }
}
